{% extends 'base.html' %}
{% block titulo%} Loja XYZ - Categoria {% endblock %}

{% block conteudo %}
    <h1>Lista de Categorias</h1>
    <hr>
    <a href="{% url 'nova_categoria' %}"><button>Nova</button></a>
    <div class="categoria-lista">
        <ul>
            {% for categoria in categorias %}
                <li>{{ categoria.nome }}</li>
                <a href="{% url 'editar_categoria' categoria.id %}"><button>Editar</button></a><a href="{% url 'excluir_categoria' categoria.id%}"><button>Remover</button></a>
            {% empty %}
                <li>Nenhuma categoria cadastrada.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}