<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
</head>
<body>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <header>

        <menu>

            <ul>

                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'deslogar' %}">Sair</a></li>
                {% else %}
                <li><a href="{% url 'logar' %}">Entrar</a></li>
                {% endif %}

            </ul>

        </menu>
        
    </header>

    {% block conteudo %} {% endblock %}    
    
    <div>
        {% if request.path != '/' %}
            <a href="{% url 'index' %}">Voltar para a página inicial</a>
        {% endif %}
    </div>
    
</body>
</html>