<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
</head>
<body>
    <header>
        <menu>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'registrar' %}">Cadastrar Usuario</a></li>
                <li><a href="{% url 'deslogar' %}">Sair</a></li>
                {% else %}
                <li><a href="{% url 'logar' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </menu>
        
    </header>

    {% block conteudo %} {% endblock %}
    
</body>
</html>