<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
</head>
<body>
    <header>
        <menu>
            <a href="{% url 'index' %}">Home</a>
            {% if user.is_authenticated %}
            <a href="#">{{user.username}}</a>
            {% else %}
            <a href="{% url 'logar' %}">Entrar</a>
            {% endif %}
        </menu>
    </header>

    {% block conteudo %} {% endblock %}
    
</body>
</html>