{% extends 'base.html' %}
{% block titulo%} Loja XYZ - Painel Administrativo {% endblock %}

{% block conteudo %}
<table class="table">
    <thead class="table">
        <tr>
            <td>Nome</td>
            <td>Opções</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>
                {% if user.id != id_atual %}
                <a class="btn btn-warning" href="{% url 'editarUsuario' user.id %}"> Editar</a>
                <a class="btn btn-danger" href="#"> Remover</a>
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}